<%- include('header'); -%>

    <h1>Hello <%= user.firstname %> <%= user.lastname %> This is the home page</h1>

    <div class="button">
        <button type="submit" id="logout">Logout</button>
    </div>

<%- include('footer'); -%>