<%- include('header'); -%>

    <h1>This is the register page</h1>

    <form class="registerForm" id="registerForm">
        <ul>
            <li>
                <label for="user_firstname">First Name:</label>
                <input type="text" id="user_firstname" name="user_firstname" required/>
            </li>
            <li>
                <label for="user_lastname">Last Name:</label>
                <input type="text" id="user_lastname" name="user_lastname" required/>
            </li>
            <li>
                <label for="user_email">Email:</label>
                <input type="email" id="user_email" name="user_email" required/>
            </li>
            <li>
                <label for="user_password">Password:</label>
                <input type="password" id="user_password" name="user_password" required/>
            </li>
            <li class="button">
                <button type="submit">Submi </button>
            </li>
        </ul>
    </form>

    <a href="/login">Login</a>


    <%- include('footer'); -%>